#Data Types and Structures Questions

 1. What are data structures, and why are they important?
    Data structures are ways of organizing and storing data to enable efficient access and modification. They‚Äôre important because they determine how data is used and optimized in algorithms and programs.


2. Difference Between Mutable and Immutable Data Types:
	‚Ä¢	Mutable: Can be changed after creation.
    Example: list, dict, set
    lst = [1, 2, 3]
    lst.append(4)  # modifies the list
   
    Immutable data types cannot be changed after creation.
    Example: int, str, tuple
    s = "hello"
    s[0] = "H"  # raises TypeError

3. What are the main differences between lists and tuples in Python?
   
    List vs Tuple in Python (Pointer Form)

    üî∏ Syntax:

    List: [] ‚Üí my_list = [1, 2, 3]

    Tuple: () ‚Üí my_tuple = (1, 2, 3)


    üî∏ Mutability:

    List: ‚úÖ Mutable (can be changed)

    Tuple: ‚ùå Immutable (cannot be changed)


    üî∏ Performance:

    List: Slightly slower

    Tuple: Faster due to immutability


    üî∏ Methods:

    List: Many built-in methods (append(), remove(), etc.)

    Tuple: Limited methods (count(), index())


    üî∏ Use Case:

    List: When data needs to change

    Tuple: When data should stay constant


    üî∏ Memory Usage:

    List: More memory

    Tuple: Less memory


    üî∏ Can be Dictionary Key:

    List: ‚ùå No

    Tuple: ‚úÖ Yes (if elements are also immutable)




4. Describe how dictionaries store data.
   
    Dictionaries store data in key-value pairs using a hash table. Each key is hashed to determine its index in an internal array. This enables O(1) average-case time complexity for lookups.

5. Why might you use a set instead of a list in Python?
   
    Sets automatically remove duplicates.
    They offer faster membership testing (average O(1) vs O(n) for lists).

6. What is a string in Python, and how is it different from a list?

    A string is an immutable sequence of characters.
    Differences from a list:

    Cannot be changed after creation.

    Specifically holds characters, not mixed types.

    s = "hello"   # immutable
    lst = ['h', 'e', 'l', 'l', 'o']  # mutable

7. How do tuples ensure data integrity in Python?

    Because tuples are immutable, their data can't be changed after creation. This ensures the data stays constant, which is useful for fixed configurations or as keys in dictionaries.

8. What is a hash table, and how does it relate to dictionaries in Python?
   
    A hash table is a data structure that maps keys to values using a hash function.
    Python‚Äôs dict uses a hash table under the hood, enabling fast lookups and inserts.

9. Can lists contain different data types in Python?

    Yes. Python lists are heterogeneous, meaning they can store different types:

    my_list = [1, "hello", 3.14, [1, 2]]

10. Explain why strings are immutable in Python.
Strings are immutable for:

    Efficiency (shared references are safe).

    Security (can‚Äôt be changed unexpectedly).

    Hashing (used as dict keys, so must be hashable).

11. What advantages do dictionaries offer over lists for certain tasks?
Faster lookups (O(1) vs O(n)).

    Named data access via keys instead of indices.

    Useful when data is associative, like a phone book.

12. Describe a scenario where using a tuple would be preferable over a list.
    Use a tuple when storing coordinates (x, y), or passing constant configuration values that should not change:
    point = (10, 20)  # ensures integrity

13. How do sets handle duplicate values in Python?
    Sets automatically discard duplicates:
    s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

14. How does the "in" keyword work differently for lists and dictionaries?
    In lists, it checks for element presence (linear search).

    In dicts, it checks for key presence (constant time via hashing).
    3 in [1, 2, 3]         # True
    'key' in {'key': 1}    # True

15. Can you modify the elements of a tuple? Explain why or why not.
    No. Tuples are immutable. You can‚Äôt add, remove, or change elements once created. This design helps maintain data consistency.

16. What is a nested dictionary, and give an example of its use case?
    A nested dictionary is a dict within another dict.
    Use case: storing data about students.
    students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

17. Describe the time complexity of accessing elements in a dictionary.
    Average case: O(1) due to hashing.

    Worst case: O(n), if hash collisions occur (rare).

18. In what situations are lists preferred over dictionaries?

    When order matters (especially before Python 3.7).

    When indexing by position is required.

    For simple sequences of data without named keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    
    Before Python 3.7, dicts did not maintain insertion order. Now they do, but conceptually, dicts are still about key-based access, not positional access. So, retrieving data by order isn't their primary purpose.    

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    List: Retrieves data by index (position).

    Dictionary: Retrieves data by key (name/identifier), which is generally faster and more descriptive.

In [ ]:
#Practical Questions

In [6]:
# 1. Create a string with your name and print it
# Create a string with your name
my_name = "jatt"

# Print the string
print("My name is:", my_name)

My name is: jatt

In [7]:
# 2. Find the length of the string "Hello World"
 # Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

In [8]:
# 3. Slice the first 3 characters from the string "Python Programming"
# Define the string
text = "Python Programming "

# Slice the first 3 characters
first_three = text[:3]

# Print the result
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

In [9]:
# 4. Convert the string "hello" to uppercase
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

In [10]:
# 5. Replace the word "apple" with "orange" in the string "apple"
# Define the string
text = "I like apple "

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [11]:
# 6. Create a list with numbers 1 to 5 and print it
# Create a list with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

In [12]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [13]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [14]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

In [15]:
# 10. Reverse the list [10, 20, 30, 40, 50]
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [16]:
# 11. Create a tuple and print it
tuple1 = (100, 200, 300)
print("Tuple:", tuple1)

Tuple: (100, 200, 300)

In [17]:
# 12. Access the second-to-last element
colors = ('red', 'green', 'blue', 'yellow')
print("Second-to-last element:", colors[-2])

Second-to-last element: blue

In [18]:
# 13. Find the minimum number in a tuple
numbers = (10, 20, 5, 15)
print("Minimum number:", min(numbers))

Minimum number: 5

In [19]:
# 14. Find the index of "cat"
animals = ('dog', 'cat', 'rabbit')
print("Index of 'cat':", animals.index('cat'))

Index of 'cat': 1

In [20]:
# 15. Check if "kiwi" is in a tuple of fruits
fruits = ('apple', 'banana', 'orange')
print("Is 'kiwi' in the tuple?", 'kiwi' in fruits)

Is 'kiwi' in the tuple? False

In [21]:

# 16. Create a set and print it
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'b', 'a', 'c'}

In [22]:
# 17. Clear all elements from a set
set_to_clear = {1, 2, 3, 4, 5}
set_to_clear.clear()
print("Cleared set:", set_to_clear)

Cleared set: set()

In [23]:
# 18. Remove element 4 from a set
set_to_remove = {1, 2, 3, 4}
set_to_remove.remove(4)
print("Set after removing 4:", set_to_remove)

Set after removing 4: {1, 2, 3}

In [24]:
# 19. Union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Union:", set1.union(set2))

Union: {1, 2, 3, 4, 5}

In [25]:
# 20. Intersection of two sets
set3 = {1, 2, 3}
set4 = {2, 3, 4}
print("Intersection:", set3.intersection(set4))

Intersection: {2, 3}

In [26]:
# 21. Create a dictionary and print it
person = {"name": "Alice", "age": 30, "city": "London"}
print("Dictionary:", person)

Dictionary: {'name': 'Alice', 'age': 30, 'city': 'London'}

In [27]:
# 22. Add a new key-value pair
person2 = {'name': 'John', 'age': 25}
person2['country'] = 'USA'
print("Updated dictionary:", person2)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23. Access value by key
person3 = {'name': 'Alice', 'age': 30}
print("Value for key 'name':", person3['name'])

Value for key 'name': Alice

In [29]:
# 24. Remove key "age"
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4['age']
print("Dictionary after removing 'age':", person4)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Check if key "city" exists
person5 = {'name': 'Alice', 'city': 'Paris'}
print("Does 'city' exist?", 'city' in person5)

Does 'city' exist? True

In [31]:
# 26. Create and print list, tuple, dictionary
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

In [32]:
# 27. List of 5 random numbers, sorted
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print("Sorted random list:", rand_list)

Sorted random list: [9, 33, 41, 45, 75]

In [35]:
# 28. Access string at index 3
string_list = ["apple", "banana", "cherry", "date", "fig"]
print("Element at index 3:", string_list[3])

Element at index 3: date

In [34]:
# 29. Combine two dictionaries
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'x': 1, 'y': 3, 'z': 4}

In [36]:
# 30. Convert list of strings to set
string_list2 = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list2)
print("Set from list:", string_set)

Set from list: {'apple', 'banana', 'cherry'}